<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">

    {% extends 'main/base.html' %}

    <!-- ridefinisco title -->
    <title>{% block title %}Aggiungi Recensione{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- carico la directory static per poter usare i suoi file -->
    {% load static %}

    <!-- carico link a Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- carico file style.css presente in static -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <!-- carico link a Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">

    <!-- carico link a font -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% block menu_id %}
    <li><a href="{% url 'users:home_for_shop' %}">Home</a></li>
    {% endblock %}

    {% block add_review_customer %}

<!--    FUNZIONI E NOMI DI FUNZIONI SOTTOSTANTI IN HTML DA CONTROLLARE [MODIFICA] -->

    <div class="modify_user_page">
      <div class="container">
          <div class="row">
              <div class="col-2">
                  <div class="form_container_add_review">
                      <div class="form-btn">
                          <span>Lascia una recensione per l'utente: {{receiver}}</span>
                          <span>Ref. code: {{order.ref_code}}</span>
                      </div>
                      <form id="RegFormReview" action="{% url 'review:add_review_customer' order_id=order.id customer_id=receiver.id %}" method="post">
                        {% for field in review_form %}
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                            <label class="control-label col-sm-2" for="users">{{ field.label_tag }}</label>
                            <div class="col-sm-10" > {{ field }}</div>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn">Aggiungi Recensione</button>
                    </form>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
                    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
                    <script type="text/javascript" src="{% static 'review_form_validator.js' %}"></script>
                  </div>
              </div>
          </div>
      </div>
    </div>
    {% endblock %}
</body>
</html>